body {
    font-family:'Raleway', sans-serif;
    margin: 0px;
    min-width: 320px;
}

/*header*/
header {
    margin: 0px 40px 0px 40px;
}
header img {
    max-width: 150px;
    height: auto;
}
nav {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}
nav li {
    padding: 0px;
    display: block;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 40px 30px 30px 20px;
    border-top: rgb(255, 255, 255) solid;
    display: block;
}
nav a:hover {
    color: #0065fc;
    border-top: #0065fc solid;
}
h1 {
    font-size: 20px;
}

/*main*/

/*barre de recherche*/
.barre-recherche {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 40px;
}
.fa-location-dot {
    background-color: #f2f2f2;
    padding: 17px 20px 17px 20px;
    font-size: 20px;
    border-radius: 20px 0px 0px 20px;
    margin-right: 1px;
}
#champ-recherche {
    font-size: 20px;
    border: none;
    padding: 15px 20px 15px 20px;
    margin: 0px;
    width: 225px;
    color: black;
    font-weight: 500;
    font-family:'Raleway', sans-serif;
}
input::placeholder {
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#bouton-recherche {
    background-color: #0065fc;
    padding: 16px 20px 16px 20px;
    font-size: 20px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    margin-left: -4px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-family:'Raleway', sans-serif;
}

/*barre de filtre*/
.barre-filtre {
    display: flex;
    margin: 20px 0px 0px 40px;
    align-items: center;
}
.bouton-filtre {
    display: flex;
    flex-wrap: wrap;
}
.bouton {
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.bouton a {
    text-decoration: none;
    color: black;
    font-weight: 650;
    border-top: 2px #d9d9d9 solid;
    border-right: 2px #d9d9d9 solid;
    border-bottom: 2px #d9d9d9 solid;
    border-radius: 0px 30px 30px 0px;
    padding: 16px 15px 16px 30px;
    text-align: center;
}
.bouton a:hover {
    background-color: #DEEBFF;
    border-bottom: #DEEBFF solid;
    border-top: #DEEBFF solid;
    border-right: #DEEBFF solid;
    margin-right: -1px;
}
.icon {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    margin-right: -20px;
    z-index: 1;
}
.fa-money-bill-wave {
    padding: 20px 18px 20px 18px;
}
.fa-child {
    padding: 20px 20px 20px 20px;
}
.fa-heart {
    padding: 20px 19px 20px 19px;
}
.fa-dog {
    padding: 20px 18px 20px 18px;
}

/*info*/
.info {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}
.fa-info {
    padding: 10px 15px 10px 15px;
    color: #0065fc;
    border: 2px #d9d9d9 solid;
    border-radius: 100px;
    margin-right: 20px;
}

/*bloc hebergements - les plus populaires*/
.heber-popu {
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}
.heber-popu h2 {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.heber-popu h3 {
    margin-left: 40px;
    margin-top: 80px;
}
.heber-popu h4, .heber-popu p {
    font-size: 14px;
}

/*section hebergements*/
.heber {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 40px 20px 40px 40px;
    width: 80%;
    height: 800px;
    padding-bottom: 40px
}
.box-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.box-article a {
    text-decoration: none;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px #e2e2e2;
    border-radius: 20px;
    width: 30%;
    margin: 20px 0 20px 0;
    background-color: white;
}
.box-article article img {
    height: 140px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.hotel {
    border-radius: 20px;
}
.info-heber {
    border-radius: 0px 0px 20px 20px;
    width: 800%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.info-heber h4 {
    color: black;
    margin-bottom: -5px;
}
.prix-heber {
    color: black;
}
.full_star {
    color: #0065fc;
}
.empty_star {
    color: #d9d9d9;
}
#affiche-plus {
    text-decoration: none;
    color: black;
}

/*section les plus populaire*/
.popu {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 40px 40px 40px 20px;
    width: 40%;
    height: 800px;
    align-items: center;
    padding-bottom: 40px
}
.titre-populaire {
    display: flex;
    align-items: center;
}
.titre-populaire h2 {
    margin-right: 35%
}
.fa-arrow-trend-up {
    font-size: 25px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    height: 20px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.box-populaire {
    display: block;
    flex-wrap: wrap;
    justify-content: center;   
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.box-populaire a {
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px #e2e2e2;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.hotel-popu {
    display: flex;
    height: 170px;
}
.box-populaire article img {
    height: 170px;
    object-fit: cover;
    width: 32%;
    border-radius: 20px 0px 0px 20px;
}
.info-popu {
    padding-left: 20px;
}
.info-popu  h4{
    margin-bottom: -5px;
}
.note-popu {
    margin-top: 80px;
}